@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: red;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    
}
nav ul li{
    padding: 20px;
}
.brand img{
    width: 44px;
    
    
    
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
}
.container{
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    
    margin: 23px auto;
    width: 90%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 100px;
    color: white;
    background-color: black;
    bottom:0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.icons{
    color: white;
    margin-top: 14px;
    cursor: pointer;
}
#myProgressiveBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songlist h1{
    padding: 10px;
}
.songitem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 200%;
    color:black;
    margin: 12px;
    align-items: center;
    border-radius: 34px;;
    padding:10px;
    cursor: pointer;
}

.songitem img{
    width:43px;
    margin: 0 23px;
}
.songInfo{
    opacity: 0;
    transition: opacity 0.3s ease-in
}